#header-container {
  background-color: #99c84a;
  color: white;

}

#menu-container {
  background-color: #f7f7f9
}

.btn.btn-shop {
  background-color: #99c84a;
  color: white;
}

btn.btn-shop:hover {
  background-color: #8ab542;
}

input.form-control:focus {
  border-color: #99c84a;
}
